footer {
  background-color: var(--black-color);
  padding: 1rem;
}

footer a {
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10%;
  font-family: var(--primary-font);
  font-size: 1.5rem;
}

footer a .icon {
  width: 3rem;
  height: auto;
}

footer a:hover {
  color: var(--primary-color);
}
